#body-content{
  position: relative;
  width: 100vw;

  #menu{
    position: fixed;
    width: 250px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 200px);
    box-shadow: 6px 2px 5px -2px rgba(204,204,204,1);
    justify-content: space-evenly;

    .menu-item{
      position: relative;
      width: 250px;
      height: auto;
      justify-self: center;
      display: flex;
      flex-direction: column;
      //margin-top: 50px;

      img{
        position: relative;
        width: 50px;
        height: auto;
        justify-self: center;
        align-self: center;
      }

      h2{
        text-align: center;
        font-family: 'Quicksand', sans-serif;
        font-size: 13px;
      }
    }

    hr {
      display: block;
      height: 1px;
      border: 0;
      border-top: 1px solid #ccc;
      margin: 1em 0;
      padding: 0;
    }
  }

  app-products{
    position: relative;
    float: right;
    left: 250px;
  }
}
