@import "../../shared/constants";
@import "../../shared/mixins";

#content-wrapper{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 30px;
  padding-right: 30px;
  width: calc(100% - 310px);
  left: 250px;
  justify-content: space-evenly;
  margin-bottom: 60px;


  #item{
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin-top: 20px;
    justify-content: space-evenly;
    @include removeSelection;

    &:hover{
      cursor: pointer;
    }

    img{
      width: 100%;
      height: auto;
      @include removeDrag;
    }

    h3{
      font-family: 'Playfair Display', serif;
      font-size: 16px;
      color: $pink-font;
      font-weight: 400;
      text-align: center;
      margin-bottom: 0;
    }

    h4,span{
      font-family: 'Quicksand', sans-serif;
      font-size: 14px;
      text-align: center;
      color: $price-color;
      margin-top: 1px;
      margin-bottom: 0;
    }

    .strikethrough{
      text-decoration: line-through;
      color: $price-inactive-color;
      font-weight: lighter;
    }

    .invisible{
      opacity: 0;
    }
  }


}
