<div id="body-content" [perfectScrollbar]>
  <div id="menu">
    <app-menu-item [title]="'HOLIDAY TREATS'" [imageName]="'gift'"
                   [isSelected]="ps.holidayTreatsSelected" (click)="ps.setHolidayTreats()"></app-menu-item>
    <hr/>
    <app-menu-item [title]="'CUPCAKES'" [imageName]="'cupcake'"
                   [isSelected]="ps.cupcakesSelected" (click)="ps.setCupcakes()"></app-menu-item>
    <hr/>
    <app-menu-item [title]="'CAKES'" [imageName]="'cake'" [isSelected]="ps.cakesSelected"
                   (click)="ps.setCakes()"></app-menu-item>
  </div>
  <app-products (childEvent)="item"></app-products>
  <app-product-page></app-product-page>
</div>
